body {
  background-color: #f8f9fa;
  min-height: 100vh;
}

.navbar {
  border-radius: 0 0 10px 10px;
}

/* .btn {
  min-width: 200px;
} */
.custom-btn {
  width: 100px;  /* Adjust the width value as needed */
}